body {
  background-color: rgb(8, 21, 26);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input[name="symbol"] {
  padding: 1em;
  width: 300px;
  outline: none;
  border: 2px solid lightgray;
  border-radius: 5px;
  align-self: center;
}

.quote-list {
  list-style: none;
}

.quote-list li{
  display: inline-block;
  border: 1px solid gray;
  border-radius: .3em;
  padding: 1em;
}

.chart-container {
  /* flex: 1; */
  min-height: 300px;
  padding: 2em;
}

.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}


